:root{

    /* Couleurs Primaires */

    --primary-color1:#2563eb;
    --primary-color2:#10b981;
    --primary-color3:#f8fafc;

    /* Couleurs secondaires */

    --secondary-color1:#f59e0b;
    --secondary-color2:#1f2937;
    --secondary-color3:#6b7280;

}