<div class="container mx-auto py-16 text-white ">
    <section class="md:flex justify-between p-8">
        <div class="md:w-[50%]">
            <h2 class="font-bold text-[var(--primary-color2)]">Revisio</h2>
            <p>
                Revisio connecte les étudiants en quête de revenus avec des élèves souhaitant booster leurs résultats
                scolaires, pour un échange gagnant-gagnant qui allie ambition et réussite </p>
        </div>

        <div class="md:flex justify-between md:w-1/3">
            <nav>
                <h3 class="font-bold text-[var(--primary-color2)]">
                    Liens rapides
                </h3>
                <ul>
                    <li><a href="">Accueil</a></li>
                    <li><a href="">Explorer</a></li>
                    <li><a href="wa.me/+237691008288">Contactez</a></li>
                    <li><a href="src/../pages/dashboard.html">Dashboard</a></li>
                </ul>
            </nav>
            <nav>
                <h3 class="font-bold text-[var(--primary-color2)]">Légales</h3>
                <ul>
                    <li>Mentions légales</li>
                    <li>Politiques de confidentialités</li>
                    <li>Conditions d'utilisation</li>
                    <li>Termes et service</li>
                </ul>
            </nav>
        </div>
    </section>
    <section class="p-8 border-t-1 ">
        &copy; Revisio 2025-2026 Copyrigth tous droits réservés
    </section>

</div>