
    <div class=" flex justify-between items-center container mx-auto">
        <div class="">
            <a href="" class="flex items-center gap-2">
                <img src="public/assets/logo.png" class="w-10" /> <span
                    class="lobster text-[var(--primary-color2)] text-2xl"> Revisio</span>
            </a>
        </div>
        <nav
            class=" gap-4 absolute md:static  md:bg-inherit w-full md:w-auto md:h-auto top-0 left-0 md:p-0 p-8 h-screen bg-[var(--primary-color1)] text-white md:text-black flex flex-col md:flex-row md:leading-normal leading-10 -translate-y-full  md:translate-y-0 backdrop-blur-xl ">
            <header class="  flex md:hidden justify-between items-center  border-b-2">
                <span> Menu de Navigation </span> <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-x-icon lucide-x">
                        <path d="M18 6 6 18" />
                        <path d="m6 6 12 12" />
                    </svg>
                </span>
            </header>
            <a href=""></a>
            <a href="#bon">Bon à savoir</a>
             <a href="#temoignage">Temoignages</a>
            <a href="#facturation">Facturation</a>
            <a href="src/../pages/dashboard.html">Dashboard</a>
        </nav>
        <div class="md:hidden cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-menu-icon lucide-menu">
                <path d="M4 12h16" />
                <path d="M4 18h16" />
                <path d="M4 6h16" />
            </svg>

        </div>
        <div class="hidden md:block">
            <button
                class="btn-theme1">Connexion</button>
            <button
                class="btn-theme2">Inscription</button>
        </div>
    </div>
